@import './variables.scss';

.button {
    height: 32px;
    background: $yellow;
    box-shadow: 0px 4px 4px rgba(21, 22, 28, 0.45);
    border-radius: 20px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all;
    cursor: pointer;
    border: none;
    &__filter {
        width: 150px;
        &_active {
            font-weight: 700;
        }
    }
    &:hover {
        background-color: $grey-light;
    }
    &__add, &__reset {
        width: 100px;
        font-weight: bold;
    }
    &__reset {
        background-color: #53524F;
        color: $grey-light;
        margin-left: 10px;
        &:hover {
            background-color: $grey-light;
            color: $grey-dark;
        }          
    }
}
@media (max-width: 768px) {
    .button {
        cursor: none;
        &:hover {
            background-color: $yellow;
        }
        &__reset {
            &:hover {
                background-color: #53524F;
                color: $grey-light;
            }          
        }
    }
}
@media (max-width: 576px) {
    .button {
        &__filter {
            width: 87px;
            font-size: 12px;
            line-height: 14px;
        }
    }
}